#botCollection{
  width: fit-content;
  height: 55vh;
  border: 1px solid lightgrey;
  margin: 10px;
}
#img{
  background-color: whitesmoke;
}
#header{
  text-align: left;
  padding: 10px;
  font-weight: bolder;
}
#binary{
  font-weight: lighter;
  text-align: left;
  padding: 10px;
  margin-top: -13%;
}
#empty-div{
  width: 100%;
  background-color: rgba(106, 142, 35, 0.761);
  height: 45vh;
}
#selectedBot{
  width: fit-content;
  border: 2px solid grey;
  border-radius: 5px;
  margin-left:15px;
  margin-top:15px;
  height: fit-content;
  background-color:  whitesmoke;
}
#btn{
  
  background-color: red;
  text-align: center;
  margin-bottom: -100%;
}